.manageSpotHead {
    margin: 50 80;
}

.manageSpotDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-count: 2;
    margin: 10;
    padding: 20;
}

.buttonDiv {
    margin: 0 10 ;
    padding: 0 20;
}
