.createSpot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    max-width: 750;
    width: 100%;
}


.formDiv {
    display: grid;
    grid-template-areas:
    'location'
    'descriptionDiv'
    'nameDiv'
    'priceDiv'
    'uploadDiv';

}

.locationDiv {
    display: grid;
    grid-area: location;
    grid-template-columns: 24% 24% 2% 24% 2% 24%;
    grid-template-areas:
        'locationHead locationHead . . . .'
        'locationP locationP locationP . . .'
        'country country country country country country'
        'address address address address address address'
        'city city city city statecom state'
        'lat lat lngcom lng lng lng';
    border-bottom: grey 2px solid;
    margin: 10 0 0 0;
    padding: 0 0 20 0;
}

.locationHead {
    grid-area: locationHead;
    margin: 0;
}

.locationP {
    grid-area: locationP;
    margin: 5 0 20 0;
}

.countryDiv {
    grid-area: country;
    display: grid;
    grid-template-areas:
    'countrylabel countryerrors . .'
    'countrytext countrytext countrytext countrytext'
    ;
}

.countryDiv > label {
    grid-area: countrylabel;
    margin: 0;
}

.countryDiv > p {
    margin: 0;
    grid-area: countryerrors;
}

.country {
    grid-area: countrytext;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);
}

.addressDiv {
    grid-area: address;
    display: grid;
    grid-template-areas:
    'addresslabel addresserrors . .'
    'addresstext addresstext addresstext addresstext'
    ;
}

.addressDiv > label {
    grid-area: addresslabel;
    margin: 0;
}

.addressDiv > p {
    margin: 0;
    grid-area: addresserrors;
}

.address {
    grid-area: addresstext;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);
}

.cityDiv {
    grid-area: city;
    display: grid;
    grid-template-areas:
    'citylabel cityerrors . .'
    'citytext citytext citytext citytext'
    ;
}

.cityDiv > label {
    grid-area: citylabel;
    margin: 0;
}

.cityDiv > p {
    margin: 0;
    grid-area: cityerrors;
}

.city {
    grid-area: citytext;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);
}

.stateCom {
    grid-area: statecom;
    display: flex;
    flex-direction: row;
    margin: 10 0;
    align-items: end;
    justify-content: center;

}

.stateDiv {
    grid-area: state;
    display: grid;
    grid-template-areas:
    'statelabel stateerrors'
    'statetext statetext'
    ;
}

.stateDiv > label {
    grid-area: statelabel;
    margin: 0;
}

.stateDiv > p {
    margin: 0;
    grid-area: stateerrors;
}
.state {
    grid-area: statetext;
    height: 25;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);
}

.latDiv {
    grid-area: lat;
    display: grid;
    grid-template-areas:
    'latlabel laterrors'
    'lattext lattext'
    ;
}

.latDiv > label {
    grid-area: latlabel;
    margin: 0;
}

.latDiv > p {
    margin: 0;
    grid-area: laterrors;
}

.latitude{
    grid-area: lattext;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);
}

.lngCom {
    grid-area: lngcom;
    display: flex;
    flex-direction: row;
    margin: 10 0;
    align-items: end;
    justify-content: center;
}

.lngDiv {
    grid-area: lng;
    display: grid;
    grid-template-areas:
    'lnglabel lngerrors'
    'lngtext lngtext'
    ;
}

.lngDiv > label {
    grid-area: lnglabel;
    margin: 0;
}

.lngDiv > p {
    margin: 0;
    grid-area: lngerrors;
}

.longitude {
    grid-area: lngtext;
    width: 100%;
    margin: 10 0;
    background-color: rgba(90, 171, 209, 0.5);

}

.descriptionDiv {
    grid-area: descriptionDiv;
    border-bottom: grey 2px solid;
    margin: 10 0 0 0;
    padding: 0 0 20 0;
}

.descriptionHead {
    margin: 0;
}

.descriptionText {
    margin: 5 0 20 0;
}

.newdescription {
    background-color: rgba(90, 171, 209, 0.5);
    height: 140px;
    max-width: 750px;
    width: 100%;
    border: black solid 2px;
}

.nameDiv {
    grid-area: nameDiv;
    border-bottom: grey 2px solid;
    margin: 10 0;
    padding: 0 0 20 0;
}

.name {
    background-color: rgba(90, 171, 209, 0.5);
}

.nameHead {
    margin: 0;
}

.nameText {
    margin: 5 0 20 0;
}

.priceDiv {
    grid-area: priceDiv;
    border-bottom: grey 2px solid;
    margin: 10 0 0 0;
    padding: 0 0 20 0;
}

.priceHead {
    margin: 0;
}

.priceDivText {
    margin: 5 0 20 0;
}

.newprice {
    background-color: rgba(90, 171, 209, 0.5);
}

.uploadDiv {
    grid-area: uploadDiv;
    border-bottom: grey 2px solid;
    margin: 10 0 50 0;
    padding: 0 0 30 0;
}

.uploadHead {
    margin: 0;
}

.uploadText {
    margin: 5 0 20 0;
}

.createSpotButton {
    justify-self: center;
    width: 33%;
    height: 40;
    font-weight: bold;
    background-color: red;
    border-radius: 5%;
}
