/* TODO: Add sitewide styles */

h1 {
    font-size: 24pt;
    font-weight: bold;
    color: black;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    color: black;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

p {
    font-size: 14pt;
    color: black;
}

span {
    font-size: 14pt;
    color: black;
}

body {
    background-color: rgba(180, 229, 238, 0.4);
}

